numpy
pandas
scipy
scikit-learn

matplotlib
plotly

yfinance

torch
torchvision
torchaudio

langchain
langchain-ollama
langgraph
ollama

fastapi
uvicorn

streamlit

sqlalchemy
psycopg2-binary

statsmodels

python-dotenv
pydantic